/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html, body{
    font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
    background:url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6,input,p,a,select{
	font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
/*-- main --*/
.agileits_copyright{
	text-align: center;
}
.agileits_copyright p{
	font-size: 1em;
    color:#fff;
    margin:5.8em 0 0;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
}
.agileits_copyright p a {
    color:#88db16;
    text-decoration: none;
}
.agileits_copyright p a:hover{
	color:#fff;
}
button,.agileits_copyright p a,.w3_agileits_main_grid_right ul.agileinfo_social_icons li a,.w3_agileits_main_grid_left ul.wthree_nav li a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
.main{
	padding:4em 0;
}
.main h1{
	text-align: center;
    color:#fcf0a0;
    font-size: 3.5em;
    letter-spacing: 5px;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}
.w3_agile_main_grid{
	width:65%;
	margin:0 auto;
}
.w3_agile_main_grid h3{
	font-size: .8em;
    color: #fff;
    font-style: italic;
    text-transform: capitalize;
}
.w3_agile_main_grid h3 span{
	color: #88db16;
}
.w3_agile_main_grid h2{
	font-size: 6em;
    color: #fff;
    font-family: 'Righteous', cursive;
    line-height: 0.8em;
    margin: 0.3em 0 0;
}
.w3_agile_main_grid p{
	font-size:1em;
	color:#999;
	line-height:2em;
}
.agile_form{
	width: 50%;
    margin:2em 0 5em;
}
.agile_form input[type="text"]{
	outline: none;
    padding: 15px 12px;
    font-size: 1em;
    color:#212121;
    width: 70.34%;
    background: #fff;
    border: none;
    float: left;
}
.agile_form button {
    outline: none;
    width: 25%;
    background: #88db16;
    font-size: 1em;
    text-transform: uppercase;
    color: #212121;
    font-weight: 600;
    border: none;
    padding: 15px 0;
    cursor: pointer;
}
.agile_form button:hover{
	background:#fcf0a0;
}
.agile_form input[type="text"]::-webkit-input-placeholder{
	color:#212121;
}
.w3_agileits_main_grid_left{
	margin: 0.6em 0 0;
	float:left;
}
.w3_agileits_main_grid_left ul.wthree_nav li{
	display:inline-block;
	font-size:1em;
}
.w3_agileits_main_grid_left ul.wthree_nav li a{
	color:#fff;
	text-transform:uppercase;
	font-family: 'Righteous', cursive;
}
.w3_agileits_main_grid_left ul.wthree_nav li a:hover{
	color:#88db16;
}
.w3_agileits_main_grid_left ul.wthree_nav li:nth-child(2){
	margin:0 2em;
}
.w3_agileits_main_grid_right{
	float:right;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li{
	display:inline-block;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a{
	display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    text-align: center;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a i {
    line-height: 2.5em;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.agileits_facebook i{
	color:#3b5998;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3ls_twitter i{
	color:#1da1f2;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3l_instagram i{
	color:#833ab4;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3_google i{
	color:#dd4b39;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3layouts_dribble i{
	color:#ea4c89;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.agileits_facebook:hover{
	background:#3b5998;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3ls_twitter:hover{
	background:#1da1f2;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3l_instagram:hover{
	background:#833ab4;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3_google:hover{
	background:#dd4b39;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a.w3layouts_dribble:hover{
	background:#ea4c89;
}
.w3_agileits_main_grid_right ul.agileinfo_social_icons li a:hover i {
    color:#fff;
}
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.w3_agile_main_grid {
		width: 72%;
	}
}
@media (max-width:1366px){
	.agile_form {
		width: 53%;
	}
}
@media (max-width: 1280px){
	.agile_form {
		width: 57%;
	}
}
@media (max-width: 1080px){
	.w3_agile_main_grid h2 {
		font-size: 5.5em;
	}
	.main h1 {
		font-size: 3.3em;
	}
	.agile_form {
		width: 68%;
	}
}
@media (max-width: 1024px){
	.w3_agile_main_grid {
		width: 80%;
	}
}
@media (max-width: 800px){
	.main h1 {
		font-size: 3em;
	}
	.agile_form {
		width: 83%;
		margin: 2em 0 4em;
	}
	.agile_form input[type="text"] {
		width: 69.34%;
	}
	.w3_agile_main_grid h2 {
		font-size: 5em;
	}
}
@media (max-width: 736px){
	.main {
		padding: 3em 0;
	}
	.agile_form {
		margin: 2em 0 3em;
	}
}
@media (max-width: 640px){
	.main h1 {
		font-size: 2.5em;
		letter-spacing: 3px;
	}
	.w3_agile_main_grid h2 {
		font-size: 4.5em;
	}
	.w3_agileits_main_grid_left ul.wthree_nav li {
		font-size: 14px;
	}
	.w3_agileits_main_grid_left ul.wthree_nav li:nth-child(2) {
		margin: 0 1em;
	}
}
@media (max-width: 600px){
	.agile_form {
		width: 91%;
	}
}
@media (max-width: 568px){
	.w3_agile_main_grid {
		width: 85%;
	}
	.agileits_copyright p {
		margin: 5em 0 0;
	}
}
@media (max-width: 480px){
	.main h1 {
		font-size: 2.3em;
		margin-bottom: 1.3em;
	}
	.w3_agile_main_grid h2 {
		font-size: 4em;
	}
	.agile_form {
		width: 100%;
	}
	.agile_form input[type="text"] {
		width: 68.34%;
	}
	.w3_agileits_main_grid_left {
		margin: 0 0 1em;
		float: none;
	}
	.w3_agileits_main_grid_right {
		float: none;
	}
	.agile_form {
		margin: 2em 0;
	}
}
@media (max-width: 414px){
	.main h1 {
		font-size: 2em;
	}
	.w3_agile_main_grid h2 {
		font-size: 3.5em;
	}
	.w3_agile_main_grid p {
		font-size: 14px;
	}
	.agile_form {
		margin: 2em 0;
	}
	.agile_form input[type="text"] {
		padding: 10px;
	}
	.agile_form button {
		font-size: 14px;
		padding: 11px 0;
	}
	.main h1 {
		margin-bottom: 1.5em;
	}
	.w3_agile_main_grid {
		width: 86%;
	}
}
@media (max-width: 384px){
	.main {
		padding: 2em 0;
	}
	.agileits_copyright p {
		margin: 4em 0 0;
	}
}
@media (max-width: 320px){
	.main h1 {
		font-size: 1.8em;
		letter-spacing: 2px;
	}
	.w3_agile_main_grid {
		width: 88%;
	}
	.w3_agile_main_grid h2 {
		font-size: 3em;
	}
	.w3_agile_main_grid p,.w3_agileits_main_grid_left ul.wthree_nav li {
		font-size: 13px;
	}
	.agile_form input[type="text"] {
		width: 67.34%;
	}
	.agile_form {
		margin: 1.5em 0;
	}
	.agileits_copyright p {
		margin: 3em 0 0;
		font-size: 13px;
	}
}

