<!DOCTYPE html>
<html>
    <head>
<meta http-equiv = "content-type" content = "text/html" ;charset = "utf-8">
        <title>CoolMeeting会议管理系统</title>
        <link rel = "stylesheet" href = "/static/css/common.css" />
        <style type = "text/css">
            #divfrom {
                float: left;
                width: 150px;
            }

            #divto {
                float: left;
                width: 150px;
            }

            #divoperator {
                float: left;
                width: 50px;
                padding: 60px 5px;
            }

            #divoperator input[type="button"] {
                margin: 10px 0;
            }

            #selDepartments {
                display: block;
                width: 100%;
            }

            #selEmployees {
                display: block;
                width: 100%;
                height: 200px;
            }

            #selSelectedEmployees {
                display: block;
                width: 100%;
                height: 225px;
            }
        </style>
    </head>
    <body >
        <div class = "page-header">
            <div class = "header-banner">
                <img src = "/static/img/header.png" alt = "CoolMeeting" />
            </div>
            <div class = "header-title">
                欢迎访问Cool-Meeting会议管理系统
            </div>
            <div class = "header-quicklink">
                欢迎您，<strong>admin</strong>
                <a href = "/personal/password">[修改密码]</a>
            </div>
        </div>
        <div class = "page-body">
           <div class = "page-sidebar">
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">个人中心</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/personal/notice">最新通知</a></li>
                        <li class = "sidebar-menuitem active"><a href = "/personal/destine">我的预定</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personal/meeting">我的会议</a></li>
                    </ul>
                </div>
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">人员管理</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/personnel/department">部门管理</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffRegister">员工注册</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffApproval">注册审批</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffSearch">搜索员工</a></li>
                    </ul>
                </div>
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">会议预定</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingRoomAdd">添加会议室</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingRoomView">查看会议室</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/destineMeeting">预定会议</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingSearch">搜索会议</a></li>
                    </ul>
                </div>
            </div>
            <div class = "page-content">
                <div class = "content-nav">
                    会议预定 > 预定会议
                </div>
                <form id="app">
                    <fieldset>
                        <legend>会议信息</legend>
                        <table class = "formtable">
                            <tr>
                                <td>会议名称：</td>
                                <td>
                                    <input type = "text" v-model="meetingName" id = "meetingname" maxlength = "20" />
                                </td>
                            </tr>
                            <tr>
                                <td>预计参加人数：</td>
                                <td>
                                    <input type = "text" v-model="meetingNumber" id = "numofattendents" />
                                </td>
                            </tr>
                            <tr>
                                <td>预计开始时间：</td>
                                <td>
                                    <input type = "datetime-local" v-model="meetingST"id = "startdate" />
                                </td>
                            </tr>
                            <tr>
                                <td>预计结束时间：</td>
                                <td>
                                    <input type = "datetime-local" v-model="meetingET"id = "enddate" />

                                </td>
                            </tr>
                            <tr>
                                <td>会议说明：</td>
                                <td>
                                    <textarea id = "description" v-model="meetingRemaker" rows = "5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>选择参会人员：</td>
                                <td>
                                    <div id = "divfrom">
                                        <select id = "selEmployees" multiple = "true" v-model="people">
                                            <option v-for="personnel in personnels"  v-bind:value="personnel.ID">
                                                ${personnel.PersonnelName }
                                            </option>
                                        </select>
                                    </div>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>选择会议室：</td>
                                <td>
                                    <div id = "divfrom">
                                        <select  style="width: 50%">
                                            <option v-for="meeting in meetingRooms"  v-model="meetingRoomID" v-bind:value="meeting.ID">
                                                ${meeting.RoomID }
                                            </option>
                                        </select>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td class = "command" colspan = "2">
                                    <input type = "submit" class = "clickbutton" value = "预定会议" v-on:click="book" />
                                    <input type = "reset" class = "clickbutton" value = "重置" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class = "page-footer">
            <hr />
            更多问题，欢迎联系<a href = "mailto:webmaster@eeg.com">管理员</a>
            <img src = "/static/img/footer.png" alt = "CoolMeeting" />
        </div>
    <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src = "https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.min.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                delimiters: ['${', '}'],
                data: {
                    personnels: [],
                    meetingRooms:[],
                    people:[],
                    meetingName:"",
                    meetingNumber:"",
                    meetingST:"",
                    meetingET:"",
                    meetingRemaker:"",
                    meetingRoomID:1
                },
                mounted() {
                    this.init()
                },
                methods: {
                    init() {
                        axios.defaults.paramsSerializer = (params) => {
                            return Qs.stringify(params, {arrayFormat: 'brackets'});
                        };
                        axios({
                            method: 'get',
                            url: '/api/staff?type=1&status=1',
                        }).then(function (response) {
                            app.personnels=response.data.data;
                        }).catch(function (error) {
                            alert(error);
                        });
                        axios({
                            method: 'get',
                            url: '/api/meetingRoom?type=0',
                        }).then(function (response) {
                            app.meetingRooms=response.data.data
                        }).catch(function (error) {
                            alert(error);
                        });

                    },
                },
                book:function () {
                    axios.defaults.paramsSerializer = (params) => {
                        return Qs.stringify(params, {arrayFormat: 'brackets'});
                    };
                    axios({
                        method: 'post',
                        url: '/api/staff',
                        data:{
                            people:app.people,
                            meetingName:app.meetingName,
                            meetingNumber:app.meetingNumber,
                            meetingST:app.meetingST,
                            meetingET:app.meetingET,
                            meetingRemaker:app.meetingRemaker,
                            meetingRoomID:app.meetingRoomID,
                        }
                    }).then(function (response) {

                    }).catch(function (error) {
                        alert(error);
                    });

                }

            })
        </script>
    </body>
</html>