<!DOCTYPE html>
<html>
    <head>
<meta http-equiv = "content-type" content = "text/html" ;charset = "utf-8">
        <title>CoolMeeting会议管理系统</title>
        <link rel = "stylesheet" href = "/static/css/common.css" />
    </head>
    <body>
        <div class = "page-header">
            <div class = "header-banner">
                <img src = "/static/img/header.png" alt = "CoolMeeting" />
            </div>
            <div class = "header-title">
                欢迎访问Cool-Meeting会议管理系统
            </div>
            <div class = "header-quicklink">
                欢迎您，<strong>admin</strong>
                <a href = "/personal/password">[修改密码]</a>
            </div>
        </div>
        <div class = "page-body">
           <div class = "page-sidebar">
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">个人中心</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/personal/notice">最新通知</a></li>
                        <li class = "sidebar-menuitem active"><a href = "/personal/destine">我的预定</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personal/meeting">我的会议</a></li>
                    </ul>
                </div>
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">人员管理</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/personnel/department">部门管理</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffRegister">员工注册</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffApproval">注册审批</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffSearch">搜索员工</a></li>
                    </ul>
                </div>
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">会议预定</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingRoomAdd">添加会议室</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingRoomView">查看会议室</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/destineMeeting">预定会议</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingSearch">搜索会议</a></li>
                    </ul>
                </div>
            </div>
            <div class = "page-content">
                <div class = "content-nav">
                    会议预定 > 查看会议室
                </div>
                <table class = "listtable">
                    <caption>所有会议室:</caption>
                    <tr class = "listheader">
                        <th>门牌编号</th>
                        <th>会议室名称</th>
                        <th>容纳人数</th>
                        <th>当前状态</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>101</td>
                        <td>第一会议室</td>
                        <td>10</td>
                        <td>启用</td>
                        <td>
                            <a class = "clickbutton" href = "/meeting/roomDetails">查看详情</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = "page-footer">
            <hr />
            更多问题，欢迎联系<a href = "mailto:webmaster@eeg.com">管理员</a>
            <img src = "/static/img/footer.png" alt = "CoolMeeting" />
        </div>
    </body>
</html>