<!DOCTYPE html>
<html>
    <head>
<meta http-equiv = "content-type" content = "text/html" ;charset = "utf-8">
        <title>CoolMeeting会议管理系统</title>
        <link rel = "stylesheet" href = "/static/css/common.css" />
        <style type = "text/css">
            
        </style>
    </head>
    <body>
        <div class = "page-header">
            <div class = "header-banner">
                <img src = "/static/img/header.png" alt = "CoolMeeting" />
            </div>
            <div class = "header-title">
                欢迎访问Cool-Meeting会议管理系统
            </div>
            <div class = "header-quicklink">
                欢迎您，<strong>admin</strong>
                <a href = "/personal/password">[修改密码]</a>
            </div>
        </div>
        <div class = "page-body">
           <div class = "page-sidebar">
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">个人中心</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/personal/notice">最新通知</a></li>
                        <li class = "sidebar-menuitem active"><a href = "/personal/destine">我的预定</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personal/meeting">我的会议</a></li>
                    </ul>
                </div>
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">人员管理</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/personnel/department">部门管理</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffRegister">员工注册</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffApproval">注册审批</a></li>
                        <li class = "sidebar-menuitem"><a href = "/personnel/staffSearch">搜索员工</a></li>
                    </ul>
                </div>
                <div class = "sidebar-menugroup">
                    <div class = "sidebar-grouptitle">会议预定</div>
                    <ul class = "sidebar-menu">
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingRoomAdd">添加会议室</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingRoomView">查看会议室</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/destineMeeting">预定会议</a></li>
                        <li class = "sidebar-menuitem"><a href = "/meeting/meetingSearch">搜索会议</a></li>
                    </ul>
                </div>
            </div>
            <div class = "page-content">
                <div class = "content-nav">
                    人员管理 > 员工注册
                </div>
                <form id="app">
                    <fieldset>
                        <legend>员工信息</legend>
                        <table class = "formtable" style = "width:50%">
                            <tr>
                                <td>姓名：</td>
                                <td>
                                        <input type = "text" id = "employeename" maxlength = "20" v-model="staffName" />
                                </td>
                            </tr>

                            <tr>
                                <td>账户名：</td>
                                <td>
                                    <input type = "text" id = "accountname" maxlength = "20" v-model="staffAccount"  />
                                </td>
                            </tr>
                            <tr>
                                <td>密码：</td>
                                <td>
                                    <input type = "password" id = "password" maxlength = "20"
                                           placeholder = "请输入6位以上的密码" v-model="staffPassword"/>
                                </td>
                            </tr>
                            <tr>
                                <td>确认密码：</td>
                                <td>
                                    <input type = "password" id = "confirm" maxlength = "20"  v-model="staffRePassword" />
                                </td>
                            </tr>
                            <tr>
                                <td>联系电话：</td>
                                <td>
                                    <input type = "text" id = "phone" maxlength = "20"v-model="staffPhone" />
                                </td>
                            </tr>
                            <tr>
                                <td>电子邮件：</td>
                                <td>
                                    <input type = "text" id = "email" maxlength = "20"v-model="staffEmail" />
                                </td>
                            </tr>
							 <tr>
                                <td>部门</td>
                                <td>
                                   <select name = "dept_id" v-model="staffDepartment">
                                       <option v-for="department in departments"  v-bind:value="department.ID">${department.DepartmentName}</option>
								   </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan = "6" class = "command">
                                    <input type = "button" class = "clickbutton" value = "注册" v-on:click="sv " />
                                    <input type = "reset" class = "clickbutton" value = "重置" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class = "page-footer">
            <hr />
            更多问题，欢迎联系<a href = "mailto:webmaster@eeg.com">管理员</a>
            <img src = "/static/img/footer.png" alt = "CoolMeeting" />
        </div>
     <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src = "https://cdn.staticfile.org/axios/0.19.0-beta.1/axios.min.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                delimiters: ['${', '}'],
                data: {
                    staffName: "",
                    staffAccount: "",
                    staffPassword:"",
                    staffRePassword:"",
                    staffPhone:"",
                    staffEmail:"",
                    staffDepartment:"1",
                    departments: [],

                },
                mounted() {
                    this.init()
                },
                methods: {
                    init() {
                        axios.defaults.paramsSerializer = (params) => {
                            return Qs.stringify(params, {arrayFormat: 'brackets'});
                        };
                        axios({
                            method: 'get',
                            url: '/api/department',
                        }).then(function (response) {
                            app.departments=response.data.data;
                        }).catch(function (error) {
                            alert(error);
                        });
                    },
                    sv:function () {
                     if (app.staffName.trim()===""||app.staffEmail.trim()===""||app.staffPhone.trim()===""||app.staffAccount.trim()===""){
                         alert("内容禁止为空!")
                     }else if (app.staffPassword!==app.staffRePassword) {
                        alert("两次密码不同")
                     }else if (app.staffDepartment==="1"){
                         alert("请选择所在部门")
                     }else {
                         axios.defaults.paramsSerializer = (params) => {
                             return Qs.stringify(params, {arrayFormat: 'brackets'});
                         };
                         axios({
                             method: 'post',
                             url: '/api/staff',
                             data:{
                                 staffName:app.staffName,
                                 staffAccount: app.staffAccount,
                                 staffPassword:app.staffPassword,
                                 staffPhone: app.staffPhone,
                                 staffEmail: app.staffEmail,
                                 staffDepartment: app.staffDepartment
                             }
                         }).then(function (response) {
                             if (response.data.code==0){
                                 alert("注册成功!");
                                 window.location.href = "/personal/notice";
                             }else{
                                 alert(response.data.message);
                             }
                         }).catch(function (error) {
                             alert(error);
                         });
                     }
                    }
                }

            })
        </script>
    </body>
</html>