<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
		<property name="url" value="jdbc:mariadb://127.0.0.1:3306/bbs?characterEncoding=UTF-8"/>
		<property name="username" value="root"/>
		<property name="password" value="950712cwb"/>
		<property name="maxActive" value="3000"/>
		<property name="initialSize" value="20"/>
		<property name="minIdle" value="10"/>
		<property name="maxWait" value="60000"/>
		<property name="timeBetweenEvictionRunsMillis" value="2000"/>
		<property name="minEvictableIdleTimeMillis" value="600000"/>
		<property name="maxEvictableIdleTimeMillis" value="900000"/>
		<property name="filters" value="stat"/>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/cui/po/</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MariaDBDialect
				</prop>
				<!--				<prop key="hibernate.show_sql">true</prop>-->
				<prop key="connection.autocommit">true</prop>
				<prop key="current_session_context_class">thread</prop>
			</props>
		</property>
	</bean>
	<bean id="boardLoad" class="com.cui.service.BoardLoadService"/>
	<bean id="postLoad" class="com.cui.service.PostLoadService"/>
	<bean id="adminLoad" class="com.cui.service.AdminLoadService"/>
	<bean id="studentLoad" class="com.cui.service.StudentLoadService"/>
	<bean id="replyLoad" class="com.cui.service.ReplyLoadService"/>
	<bean id="daoOperating" class="com.cui.dao.DaoOperating"/>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="checkWriteOperations" value="false"/>
	</bean>
	<bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
	<context:annotation-config/>
	<context:component-scan base-package="com"/>
</beans>