<!doctype html>
<html lang="zh">

<head>
	<link rel="shortcut icon" href="../../static/picture/head.jpg" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>莫忘 - 一个励志做后端的大学生</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="../../static/css/index.css" media="all" />
	<link rel="stylesheet" type="text/css" href="../../static/css/detail.css" />
</head>

<body class="home blog custom-background round-avatars" itemscope itemtype="http://schema.org/Organization">
<div class="Yarn_Background" style="background-image: url( ../../static/images/47fb3c_.jpg);"></div>
<form class="js-search search-form search-form--modal" method="get" action="search.html" role="search">
	<div class="search-form__inner">
		<div>
			<div id="search-container" class="ajax_search">
				<form method="get" id="searchform" action="">
					<div class="filter_container"><input type="text" value="" autocomplete="off" placeholder="输入内容点击搜索"
					                                     name="s" id="search-input" />
						<ul id="search_filtered" class="search_filtered"></ul>
					</div>
					<input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value="" />
				</form>
			</div>
		</div>
	</div>
</form>
<div class="navi" data-aos="fade-down">
	<div class="bt-nav">
		<div class="line line1"></div>
		<div class="line line2"></div>
		<div class="line line3"></div>
	</div>
	<div class="navbar animated fadeInRight">
		<div class="inner">
			<nav id="site-navigation" class="main-navigation">
				<div id="main-menu" class="main-menu-container">
					<div class="menu-menu-container">
						<ul id="primary-menu" class="menu">
							<li id="menu-item-17"
							    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
								<a href="/">首页</a>
							</li>
							<li id="menu-item-173"
							    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
								<a href="about">关于我</a>
							</li>
							<li id="menu-item-57"
							    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
								<a href="comment">留言</a>
							</li>
							<li id="menu-item-57"
							    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
								<a href="friend">友情链接</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- #site-navigation -->
		</div>
		</nav>
		<!-- #site-navigation -->
	</div>
</div>
</div>
<div class="hebin" data-aos="fade-down">
	<i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header id="masthead" class="overlay animated from-bottom" itemprop="brand" itemscope
        itemtype="http://schema.org/Brand">
	<div class="site-branding text-center">
		<a href="">
			<figure>
				<img class="custom-logo avatar" src="../../static/picture/head.png" />
			</figure>
		</a>
		<h3 class="blog-description"><p>莫忘</p></h3>
	</div>
	<!-- .site-branding -->
	<div class="decor-part">
		<div id="particles-js"></div>
	</div>
	<div class="animation-header">
		<div class="decor-wrapper">
			<svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1"
			     viewBox="0 0 100 100" preserveAspectRatio="none">
				<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
				<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
				<path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
				<path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
				<path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
				<path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
				<path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>
				<path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>
			</svg>
		</div>
	</div>
</header>
<div id="main" class="content">
	<div class="container" >
		<article id="post-1202"
		         class="js-gallery post-1202 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-11 tag-22 tag-29">
			<style>
				.container {
					padding: 10px 0px;
				}

				.post {
					margin: 0 auto
				}
			</style>
			<section class="post_content">
				<header class="post_header">
					<h1 class="post_title">关于我</h1>
				</header>
				<div class="post-body js-gallery">
					博主：莫忘<br>
					现状：计科大本在读<br>
				</div>
				<div class="meta split split--responsive cf">
					博主留言<br>
					莫忘 • 2019-01-18<br>
					<p>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢各位看官光临本站，小弟仅仅是一个渣二本大学的CS大学生，制作此博客 的目的是用来学习go语言的web开发，前端模板采用的是<a href="http://www.jianhuax.com/">(Jianhuax.com建华兄)</a>分享的模板,在此表示感谢,后台是使用golang编写，由于学艺不精可能会导 致有bug出现，请各位大佬 谅解，本博客用于记录学习期间所踩的坑以及解决方案和学习到的一些东西，所发布的东西 皆为个人主观理解如果有错误的地方还请各位大佬批评指正，谢谢！

					</p>
				</div>
			</section>
		</article>
	</div>
	<div class="wrapper">
	</div>
</div>

<div class="p-header">
	<figure class="p-image"></figure>
</div>
<footer id="footer" class="overlay animated from-top">
	<div class="decor-wrapper">
		<svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
		     preserveAspectRatio="none">
			<path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
			<path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
			<path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
			<path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
			<path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
			<path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
			<path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>
			<path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>
		</svg>
	</div>
	<div class="socialize" data-aos="zoom-in">
		<li>
			<a class="socialicon" href="mailto:cuiwenbin@cwb95.xyz"  title="邮件"><i
					class="iconfont">&#xe603;</i></a>
		</li>
		<li>
			<a class="socialicon" href="https://github.com/ChangFengcwb" target="_blank" title="github"><i
					class="iconfont">&#xe735;</i></a>
		</li>
		<li class="wechat">
			<a class="socialicon"><i class="iconfont">&#xe609;</i></a>
			<div class="wechatimg"><img src="../../static/picture/wx.jpeg"></div>
		</li>
		<li class="wechat">
			<a title="QQ" class="socialicon" href="" target="_blank"><i class="iconfont" aria-hidden="true">&#xe616;</i></a>
			<div class="wechatimg"><img src="../../static/picture/qq.jpeg"></div>
		</li>
	</div>
	<div class="cr">
		本站模板采用自 <a href="http://www.jianhuax.com/">Jianhuax.com</a><br>
		<a href="http://www.miitbeian.gov.cn//">辽ICP备18004670号-2</a>
	</div>
</footer>
	<script type="text/javascript">
		window.onscroll = function () {
			var scrollTop = document.body.scrollTop;
			if (scrollTop >= 200) {
				document.getElementById("NextPrevPosts").style.display = "none"
			} else {
				document.getElementById("NextPrevPosts").style.display = "block"
			}
		}
	</script>
	<script type='text/javascript' src='../../static/js/jquery.min.js'></script>
	<script type='text/javascript' src='../../static/js/plugins.js'></script>
	<script type='text/javascript' src='../../static/js/script.js'></script>
	<script type='text/javascript' src='../../static/js/particles.js'></script>
	<script type='text/javascript' src='../../static/js/aos.js'></script>
	<script type='text/javascript' src='../../static/js/prism.js'></script>
	<script type='text/javascript' src='../../static/js/gravatar.js'></script>

</body>

</html>